
body {
  font-family: 'Lato', sans-serif;
  margin-left: 40px;
}

.card {
  background-color: #e6e6e6; /* Green */
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 2px;
  border: 6px solid black;
}

.card:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.page-container {
  margin-top: 90px;
}
